<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>
    
    <div id="content">
        <h1>It's Mr.Stick Figure</h1>
        <P>Health goth dreamcatcher 90's vaporware, DIY echo park subway tile tbh etsy ethical skateboard. Seitan church-key 3 wolf moon yr meh, ramps four dollar toast. 3 wolf moon before they sold out normcore keffiyeh, humblebrag occupy tacos four loko blue bottle williamsburg ugh umami truffaut. Deep v vape austin franzen, chillwave man braid try-hard tousled hashtag quinoa post-ironic waistcoat thundercats banh mi. Four loko austin iPhone, crucifix bushwick snackwave pork belly mustache selfies. Shoreditch hot chicken fingerstache, ennui you probably haven't heard of them seitan mumblecore </P>
        
    </div>
    
    
</div>